<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <img src="../../../assets/cidenet-logo.png" height="60px" alt="Logo">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                <li class="nav-item text-center">
                    <a class="nav-link" href="#">Gestión de Empleados</a>
                </li>
                <li class="nav-item text-center">
                    <a [routerLink]="['/employees/update/', undefined]" class="list-group-item list-group-item-action active" aria-current="true">
                        Crear Empleado
                      </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
