<div class="card col-12 mx-auto mt-5">
    <h5 class="card-header">
        Filtrar por
    </h5>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <input name="email" type="text" class="form-control" id="email"
                    [(ngModel)]="employee.email" placeholder="Correo" maxlength="300">
            </div>
            <div class="mb-3">
                <input name="firstName" type="text" style="text-transform: uppercase;" class="form-control" id="firstName"
                    [(ngModel)]="employee.firstName" placeholder="Primer nombre" maxlength="20"
                    pattern="[A-Za-z ]+">
            </div>
            <div class="mb-3">
                <input name="otherNames" type="text" style="text-transform: uppercase;" 
                class="form-control" id="otherNames" [(ngModel)]="employee.otherNames" 
                placeholder="Otros nombres" maxlength="50" pattern="^[A-Za-z ]*$">
              </div>
              <div class="mb-3">
                <input name="firstLastName" type="text" style="text-transform: uppercase;" class="form-control" id="firstLastName" 
                [(ngModel)]="employee.firstLastName" placeholder="Primer apellido"
                maxlength="20" pattern="[A-Za-z ]+">
            </div>
              <div class="mb-3">
                  <input name="secondLastName" type="text" style="text-transform: uppercase;" class="form-control" id="secondLastName"
                    [(ngModel)]="employee.secondLastName" placeholder="Segundo apellido"
                    maxlength="20" pattern="[A-Za-z ]+">
                
                </div>
                <div class="mb-3">
                    <label for="identificationType" class="form-label">Tipo de Identificación</label>
                    <div class="col-sm-6">
                        <select [compareWith]="compareIdentificationType" name="identificationType" class="form-control" [(ngModel)]="employee.identificationType">
                            <option [ngValue]="undefined">--- Seleccionar</option>
                            <option *ngFor="let identificationType of identificationTypes" [ngValue]="identificationType">{{identificationType.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input name="identificationNumber" type="text" class="form-control" id="identificationNumber" 
                    [(ngModel)]="employee.identificationNumber" placeholder="Número de identificación"
                     maxlength="20" pattern="[A-Za-z0-9]+">
                  </div>
                  <div class="mb-3">
                    <label for="country" class="form-label">País a trabajar:</label>
                    <div class="col-sm-6">
                        <select [compareWith]="compareCountry" name="country" class="form-control" [(ngModel)]="employee.country">
                            <option [ngValue]="undefined">--- Seleccionar</option>
                            <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input name="state" type="text" style="text-transform: uppercase;" class="form-control" id="state"
                        [(ngModel)]="employee.state" placeholder="Estado">
                </div>
            <button (click)="filter()" type="submit" class="btn btn-primary">Buscar</button>
          </form>
    </div>
</div>
