<div class="open-modal animation fadeIn" *ngIf="modalService.modalInfo" >
    <div class="modal" tabindex="-1" role="dialog" style="display: block;" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Información del Empleado</h2>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">
                        Correo Electrónico: 
                        <span>{{employee.email}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Primer Nombre: </span>
                        <span>{{employee.firstName}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Otros Nombres: </span>
                        <span>{{employee.otherNames}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Primer Apellido: </span>
                        <span>{{employee.firstLastName}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Segundo Apellido: </span>
                        <span>{{employee.secondLastName}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Fecha de Admisión: </span>
                        <span>{{employee.admissionDate}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Tipo de Identificación: </span>
                        <span>{{employee.identificationType.name}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Número de Identificación: </span>
                        <span>{{employee.identificationNumber}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Área: </span>
                        <span>{{employee.area.name}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">País: </span>
                        <span>{{employee.country.name}}</span>
                    </p>
                    <p>
                        <span class="fw-bold">Estado: </span>
                        <span>{{employee.state}}</span>
                    </p>
                    <table class="table table-striped table-border">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let traceability of employee.traceabilities">
                                <td>{{traceability.type}}</td>
                                <td>{{traceability.registrationDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="closeModal()" class="btn btn-success"
                        data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>