<nav aria-label="Page navigation example" class="ml-5">
    <ul class="pagination" *ngIf="pageNumbers">
        <li class="page-item" *ngIf="pages.number > 0">
            <a class="page-link" [routerLink]="['/employees/page', pages.number-1]" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        <li class="page-item" *ngFor="let page of pageNumbers" [ngClass]="{disabled: page-1 == pages.number}">
            <a class="page-link" [routerLink]="['/employees/page', page-1]">
                {{page}}
            </a>
        </li>
        <li class="page-item" *ngIf="pages.number < pages.totalPages-1">
            <a class="page-link" [routerLink]="['/employees/page', pages.number+1]" aria-label="Previous">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
    </ul>
</nav>
