<div class="card col-6 mx-auto mt-5">
    <h5 class="card-header">
        Crear / Editar empleado
    </h5>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="firstName" class="form-label">Primer Nombre:</label>
                <input name="firstName" type="text" style="text-transform: uppercase;" class="form-control" id="firstName"
                    [(ngModel)]="employee.firstName" placeholder="Escribe tu primer nombre" required maxlength="20"
                    pattern="[A-Za-z ]+" #firstName="ngModel">
                <div class="" *ngIf="firstName.invalid && firstName.touched">
                    <div class="" *ngIf="firstName.errors.maxlength">
                        <p style="color: red;">El campo debe tener máximo 20 caracteres</p>
                    </div>
                    <div class="" *ngIf="firstName.errors.pattern">
                        <p style="color: red;">El campo solo acepta mayúsculas, sin acento y sin ñ</p>
                    </div>
                    <div class="" *ngIf="firstName.errors.required">
                        <p style="color: red;">El campo es requerido</p>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="otherNames" class="form-label">Otros Nombres:</label>
                <input name="otherNames" type="text" style="text-transform: uppercase;" 
                class="form-control" id="otherNames" [(ngModel)]="employee.otherNames" 
                placeholder="Escribe tu segundo o demás nombres" maxlength="50" pattern="^[A-Za-z ]*$" #otherNames="ngModel">
                <div class="" *ngIf="otherNames.invalid && otherNames.touched">
                    <div class="" *ngIf="otherNames.errors.maxlength">
                        <p style="color: red;">El campo debe tener máximo 50 caracteres</p>
                    </div>
                    <div class="" *ngIf="otherNames.errors.pattern">
                        <p style="color: red;">El campo solo acepta mayúsculas, sin acento y sin ñ</p>
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="firstLastName" class="form-label">Primer Apellido:</label>
                <input name="firstLastName" type="text" style="text-transform: uppercase;" class="form-control" id="firstLastName" 
                [(ngModel)]="employee.firstLastName" placeholder="Escribe tu primer apellido"
                required maxlength="20" pattern="[A-Za-z ]+" #firstLastName="ngModel">
                <div class="" *ngIf="firstLastName.invalid && firstLastName.touched">
                    <div class="" *ngIf="firstLastName.errors.maxlength">
                        <p style="color: red;">El campo debe tener máximo 20 caracteres</p>
                    </div>
                    <div class="" *ngIf="firstLastName.errors.pattern">
                        <p style="color: red;">El campo solo acepta mayúsculas, sin acento y sin ñ</p>
                    </div>
                    <div class="" *ngIf="firstLastName.errors.required">
                        <p style="color: red;">El campo es requerido</p>
                    </div>
                </div>
            </div>
              <div class="mb-3">
                  <label for="secondLastName" class="form-label">Segundo Apellido:</label>
                  <input name="secondLastName" type="text" style="text-transform: uppercase;" class="form-control" id="secondLastName"
                    [(ngModel)]="employee.secondLastName" placeholder="Escribe tu segundo apellido"
                    required maxlength="20" pattern="[A-Za-z ]+" #secondLastName="ngModel">
                <div class="" *ngIf="secondLastName.invalid && secondLastName.touched">
                    <div class="" *ngIf="secondLastName.errors.maxlength">
                        <p style="color: red;">El campo debe tener máximo 20 caracteres</p>
                    </div>
                    <div class="" *ngIf="secondLastName.errors.pattern">
                        <p style="color: red;">El campo solo acepta mayúsculas, sin acento y sin ñ</p>
                    </div>
                    <div class="" *ngIf="secondLastName.errors.required">
                        <p style="color: red;">El campo es requerido</p>
                    </div>
                </div>
                
                </div>
                <div class="mb-3">
                    <label for="admissionDate" class="form-label">Fecha de Ingreso:</label>
                    <input name="admissionDate" type="date" class="form-control" id="admissionDate" [(ngModel)]="employee.admissionDate" required #admissionDate="ngModel">
                    <div class="" *ngIf="admissionDate.invalid && admissionDate.touched">
                        <div class="" *ngIf="admissionDate.errors.required">
                            <p style="color: red;">El campo es requerido</p>
                        </div>
                    </div>
                  </div>
                <div class="mb-3">
                    <label for="identificationType" class="form-label">Tipo de Identificación</label>
                    <div class="col-sm-6">
                        <select [compareWith]="compareIdentificationType" name="identificationType" class="form-control" [(ngModel)]="employee.identificationType" required #identificationType="ngModel">
                            <option [ngValue]="undefined">--- Seleccionar</option>
                            <option *ngFor="let identificationType of identificationTypes" [ngValue]="identificationType">{{identificationType.name}}</option>
                        </select>
                    </div>
                    <div class="" *ngIf="identificationType.invalid && identificationType.touched">
                        <div class="" *ngIf="identificationType.errors.required">
                            <p style="color: red;">El campo es requerido</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="identificationNumber" class="form-label">Número de Identificación:</label>
                    <input name="identificationNumber" type="text" class="form-control" id="identificationNumber" 
                    [(ngModel)]="employee.identificationNumber" placeholder="Escribe tu número de identificación"
                    required maxlength="20" pattern="[A-Za-z0-9]+" #identificationNumber="ngModel">
                <div class="" *ngIf="identificationNumber.invalid && identificationNumber.touched">
                    <div class="" *ngIf="identificationNumber.errors.maxlength">
                        <p style="color: red;">El campo debe tener máximo 20 caracteres</p>
                    </div>
                    <div class="" *ngIf="identificationNumber.errors.pattern">
                        <p style="color: red;">El campo solo acepta mayúsculas, minúsculas, sin acento, sin ñ y sin espacios</p>
                    </div>
                    <div class="" *ngIf="identificationNumber.errors.required">
                        <p style="color: red;">El campo es requerido</p>
                    </div>
                </div>
                  </div>
                  <div class="mb-3">
                    <label for="country" class="form-label">País a trabajar:</label>
                    <div class="col-sm-6">
                        <select [compareWith]="compareCountry" name="country" class="form-control" [(ngModel)]="employee.country" required #country="ngModel">
                            <option [ngValue]="undefined">--- Seleccionar</option>
                            <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                        </select>
                        <div class="" *ngIf="country.invalid && country.touched">
                            <div class="" *ngIf="country.errors.required">
                                <p style="color: red;">El campo es requerido</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="area" class="form-label">Área</label>
                    <div class="col-sm-6">
                        <select [compareWith]="compareArea" name="area" class="form-control" [(ngModel)]="employee.area" required #area="ngModel">
                            <option [ngValue]="undefined">--- Seleccionar</option>
                            <option *ngFor="let area of areas" [ngValue]="area">{{area.name}}</option>
                        </select>
                        <div class="" *ngIf="area.invalid && area.touched">
                            <div class="" *ngIf="area.errors.required">
                                <p style="color: red;">El campo es requerido</p>
                            </div>
                        </div>
                    </div>
                </div>
            <button *ngIf="email === ''" (click)="createEmployee()" type="submit" class="btn btn-primary">Crear</button>
            <button *ngIf="email !== ''" (click)="updateEmployee()" type="submit" class="btn btn-primary">Actualizar</button>
          </form>
    </div>
</div>
