<employee-info *ngIf="employee" [employee]="employee"></employee-info>
<div class="d-flex flex-row">
    <div class="col-4">
        <filter-component (employeeToSend)="recibeEmployee($event)"></filter-component>
    </div>
    <div class="col-8">
        <table class="table table-striped table-border">
            <thead>
                <tr>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.firstLastName}}</td>
                    <td>{{employee.email}}</td>
                    <td>
                        <button class="btn btn-primary mr-2" (click)="showInfo(employee)">Info</button>
                        <button class="btn btn-secondary mr-2" (click)="editEmployee(employee.email)">Editar</button>
                        <button class="btn btn-danger" (click)="deleteEmployee(employee.email)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-component *ngIf="pages" [isFiltered]="isFiltered"></pagination-component>
    </div>
</div>
